html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map_left {
    float: left;
    width: 49.8%;
    height: 100%;
}

#map_right {
    float: right;
    width: 49.8%;
    height: 100%;
}